/* src/components/GenrePopup.css */
.popup-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 300px 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin-left: 40%;
  }
  
  .popup-content {
    background: rgb(41, 38, 38);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  .genre-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:30px;
    margin: 20px 0px;
    justify-content: center;
  }
  
  .genre-btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .genre-btn.selected {
    background-color: #373ad6;
    color: rgb(83, 37, 189);
  }
  
  .genre-btn:hover {
    background-color: #2e57c7;
  }
  
  .popup-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .save-btn {
    background-color: #1c19d4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #1e0850;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn:hover {
    background-color: #d32f2f;
  }
  